.products {
    padding: 9rem 2.5rem 9rem;
    text-align: center;
}

.catalog {
    color: #63a500;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.offer {
    margin: 25px 0 80px;
    color: #152313;
    font-size: 7rem;
    font-weight: 900;
}

.product__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__unit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    width: 30%;
    color: #152313;
    margin-top: 25px;
}

.product__unit:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product__unit:hover .product__info .product__btn {
    transition: linear 0.2s;
    background: linear-gradient(to bottom, #B3CD45, #7DB216);
}

.product__unit .product__img {
    height: auto;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.product__unit .product__img img {
    width: 100%;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}

.product__unit .product__info {
    background-color: #fff;
    width: 70%;
    padding: 20px;
    margin-top: -35px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0.2px #16171a;
}

.product__unit .product__info .product__name {
    font-size: 2.3rem;
    color: #152313;
    font-weight: 800;
}

.product__unit .product__info .product__description {
    font-size: 1.5rem;
    color: #152313;
    margin-top: 0.5rem;
}

.product__unit .product__info .product__btn {
    display: none;
    width: 75%;
    margin-top: 15px;
    padding: 25px;
    background: linear-gradient(to bottom, #F0C644, #EF8426);
    overflow: hidden;
    border-radius: 15px;
}

.product__unit .product__info .product__btn .btn__a {
    height: 100%;
    width: 100%;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 1.8rem;
    text-decoration: none;
}